@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url(https://fonts.googleapis.com/css?family=Bungee);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);

body {
  font-family: 'Ubuntu';
  font-size: 16px;
  line-height: 1.6;}
h1,h2,h3 {
  font-size: 3rem;
}

p{
  font-size: 1.2rem;
}
