@import "reset";
@import "base";
@import "mixins";
@import "constants";
@import "typography";

/* 
* Add your own CSS code below... 
*/
body{
  // @include flex-box(column, center, center);
  @include flex-box($ai:flex-start);
  background-color: rgb(191, 191, 191);
  color: red;
  .wrapper{
    border: red solid 2px;
  }
  
}
